[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "*"
django-debug-toolbar = "*"

[dev-packages]
flake8 = "*"
isort = "*"
pytest-django = "*"
pytest-watch = "*"

[requires]
python_version = "3.11"
