[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "*"
django-debug-toolbar = "*"
django-health-check = "*"
whitenoise = "*"
pytest = "*"
flower = "*"
celery = "*"
redis = "*"
psycopg2-binary = "*"
gunicorn = "*"
django-cors-headers = "*"
djangorestframework = "*"
drf-yasg = "*"
python-decouple = "*"
django-redis = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
django-phonenumber-field = "*"
django-countries = "*"

[dev-packages]
flake8 = "*"
isort = "*"
pytest-django = "*"
pytest-watch = "*"

[requires]
python_version = "3.11"
